body {
  margin: auto;
  width: 90%;
  max-width: 600px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

svg path {
  fill: none;
  stroke: green;
  stroke-width: 1em;
  stroke-linecap: round;
  cursor: pointer;
}
